@import (reference) 'variables';
@import (reference) 'typography';

*, *:before, *:after {
    box-sizing: border-box;
}
html {
    &:extend(.base-font-size);
}
body {
    margin: 0;
    padding: 0;
    &:extend(.base-typo);
}
.centered {
    margin: 0 auto;
}
