@import (reference) "variables";
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: Candara, sans-serif;
    color: @black;
    &:before {
        content: 'small';
        position: absolute;
        z-index: 999;
        left: 0;
        top: 0;
    }
    @media all and (min-width: @breakpoint-small){
        &:before {
            content: 'medium'
        }
    }
    @media all and (min-width: @breakpoint-medium){
        &:before {
            content: 'large'
        }
    }
    @media all and (min-width: @breakpoint-large){
        &:before {
            content: 'extra large'
        }
    }
}
h1, p {
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.1em;
    margin-bottom: .5rem;
}
p:last-of-type {
    margin: 0;
}
a:link, a:visited {
    color: @red;
    &:hover {
        text-decoration: underline;
    }
}
.centered {
    text-align: left;
    font-size: .9em;
    margin: 0 auto;
}
