dist: trusty
language: node_js
node_js:
- '6.7.0'
branches:
  except:
  - develop
cache:
  directories:
    - node_modules
env:
  global:
  - CXX=g++-4.8
  - secure: myO98+iHkuVx14xXZHIWQrhfNByIx15r9MRk0kD5jrvxjEoTD2Sh9Jrt6hl0gXdbYgTjAn2NfczEAYQwN9HjSYWySpUmlE6xwVFEQsxYPcXsf0szZuS7Uq28BUyEerftSfhWhBgJPfWEEt7k9UCyc4C6tAPmWNubIqcDno/rVt6VeixliFngJqCqlQvGW46H2/1ybWjrjvYSdi2uTRCdoIvRlu94jEHSc9BO9SOgDpQNLy/3fbbtNz0E9UhvwyILQSCjZrfRdMYerrGBg1UZgt2VcGlUDnQ+j0e3+ciSJQrUWv/dP1mdOUfP9wqkn+PLfUwDRQZikds+C6gEt0jV7H21clC+XejMCTuU0+t+4nDOmg3pblpVMiZGPEvBXK+1ThKQ9tod4wSM3/fk43prdDNXSzRvpzdzQGijpor4PVZmCMJl+kNdDOKbDhixWemhgXOYCsfpxmadJU2wLqvE49ti1p8Zgzb5S1ssBN5tR9PvXc0SiKvvLqM6fqvgeLCfukKxC7DWR0ixcb/OzOHAvUbtVU5sy//VF0xA9/H+8inQJTPRZIh+qdytD3qgLnOX8wVrQ9b3VkSq2KA3Xkok9DiLhOErrprdPt/W/BiU2N2CN6oCOuPJSsushFhYpeUtMxEn8DcnUIPbnSnDCFSyAxNDM6a409K2wQ6UqHpAnX4=
  - secure: T4kIek7xY05vU4zhW1XWFoAeO8tQGwd9UbVkhtcmF6qKwApu8hzM0K4TAN4NWHWJMqz2RWS6Ew7W/hERBsLO+mR9I3nxUDxx563nJ4aWYw6Y4WXyGQzgyIf8CQFvllszT1Klf6yYtnYc8Auvaen94mn6TjPkem4FgzoiUDtZKUm/hxlw9vsZAwOabowSeVJDWvbL9FUT1VoJoaEekuWis1ZQp+wGVJsnLmJ//ub9CADQNCIeaeBZOar6nDdAvU3rHJqrp5v0MgevPKEH8eWRKPHNTFNx19G0If5q9uWEWdn89kA8prjKu87GO7LgOcGiIum/6H7kPpRIqvvxCwXQguI09Jb/Vei7BcJ3GrN1QZ3PYQgkF8L1m/ZskQhDg3u7E60G+mkCcsRqEOMxyhiwMYPB38R9igsIrWpgQobVPJVzN4iBWz7XJrhFBEDbQDdM0tvJ4Xwd6H/D/fusfRXY0ejV7Xtb1tHzWuPn8EvFYUsRneYPOwfOeZP5SzKuOf3SnapxF5CJzq3dnBYn1XD+714GOSw7I6IR9+q/zHHAtf74WwQ4YrOrBNmVuHkAEgrMqh8YbaROuSPohnhoAJ9Cyfv1ku22sFtTpnWp8T1maih8dzfhm19BqNEfWbe6H7lIkh5CkwR9CbxMJRxqRd5F9frP1KCwt0sYsPlFloObPEw=
  - ARTIFACTS_BUCKET=alouatta.org
  - ARTIFACTS_PATH=dist
  - ARTIFACTS_REGION=eu-central-1
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
script:
- npm run test
- npm run deploy
deploy:
  on:
    tags: true
  provider: s3
  access_key_id: ${ARTIFACTS_KEY}
  secret_access_key: ${ARTIFACTS_SECRET}
  bucket: ${ARTIFACTS_BUCKET}
  skip_cleanup: true
  region: ${ARTIFACTS_REGION}
  local_dir: ${ARTIFACTS_PATH}
  detect_encoding: true
