@import (reference) "../core-styles/variables";
@import (reference) "../core-styles/layout";

.header {
    background: rgba(255,255,255,.9);
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    padding: 1rem;

    .site-title {
        font-size: 2.5em;
        margin: 0;
        color: @red;
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    position: fixed;
    z-index: 999;

    @media all and (min-width: @breakpoint-small) {
        .site-title {
            text-align: center;
        }
    }
    @media all and (min-width: @breakpoint-medium) {

        padding: 2rem;

        .content {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: @breakpoint-medium - 8rem;
            margin:0 auto;
        }
    }
    .menu-handle {
        border: 0;
        background-color: transparent;
        position: absolute;
        right: 0;
        top: 25px;
        @media all and (min-width: @breakpoint-small){
            display: none;
        }
    }
}
