@import (reference) "../core-styles/variables";
@import (reference) "../core-styles/layout";

.header {
    position: fixed;
    background: rgba(255,255,255,.7);
    border-bottom: 1px solid rgba(0,0,0,.1);
    width: 100%;
    h1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }
    .logo {
        // display: inline-block;
        margin-right: 2rem;
    }
    .title {

    }
    .content {
        // display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        @media all and (min-width: 48em){
            width: 75rem;
        }
        h1 {
            margin: 0;
        }
    }
}
