{% set imageDir = "/assets/section/images/" %}
<section class="section{% if section.backgrounds %} has-hero{% endif %}" id="{{ section.name }}">
    {% if section.backgrounds %}
        {% include "components/hero/hero.html" %}
    {% endif %}
    <div class="centered content">
        {% if loop.first %}
            {% include "components/logo/logo.html" %}
        {% endif %}
        {{ section.content }}
        {% if section.gallery %}
            {% include "components/gallery/gallery.html" %}
        {% endif %}
        {% if loop.last %}
            {% include "components/social/social.html" %}
            {% include "components/map/map.html" %}
        {% endif %}
    </div>
</section>
