@import (reference) "../core-styles/variables";
.section {
    min-height: 77rem;

    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        margin-bottom: 5rem;
    }
    .content {
        position: relative;
        padding: 17rem 1rem 2rem;

    }
    &.has-hero {
        .content {
            padding-top: 2rem;
        }
    }

    @media all and (min-width: @breakpoint-small){
        .content {
            font-size: 1.1em;
            width: @breakpoint-small-content-width;
        }
    }
    @media all and (min-width: @breakpoint-medium){
        .content {
            font-size: 1.25em;
        }
    }
    @media all and (min-width: @breakpoint-max-content-width){
        .content {
            width: @max-content-width;
        }
    }

}
