.section {
    padding: 14rem 0;
    min-height: 77rem;
    .content {
        @media all and (min-width: 32.5em){
            width: 48rem;
        }
        @media all and (min-width: 48em){
            width: 60rem;
        }
    }
}
