{% set imageDir = "/assets/section/images/" %}
<section class="section{% if section.background %} has-hero{% endif %}" id="{{ section.name }}">
    {% if section.background %}
        {% include "components/hero/hero.html" %}
    {% endif %}
    <div class="centered content">
        {% if loop.first %}
            {% include "components/logo/logo.html" %}
        {% endif %}
        {{ section.content }}
        {% if section.gallery %}
            {% include "components/gallery/gallery.html" %}
        {% endif %}
        {% if loop.last %}
            {% include "components/social/social.html" %}
            {% include "components/map/map.html" %}
            <div class="hostelz">
              <a href="http://www.hostelz.com">
                <img src="//www.hostelz.com/images/hostelz-small.png" width="120">
              </a>
            </div>
        {% endif %}
    </div>
</section>
