@import (reference) "../core-styles/variables";
@import (reference) "../core-styles/layout";

.section {
    &:extend(.section-dimensions all);
    font-size: 1.7rem;
    margin-bottom: 7rem;
    .content {
        padding-top: 17rem;
        padding-bottom: 2rem;
    }
    &.has-hero {
        .content {
            padding-top: 2rem;
        }
    }

    @media all and (max-width: @breakpoint-hamburguesa-1px) {
        padding-top: 67px;
    }

    @media all and (min-width: @breakpoint-small){
        .content {
            font-size: 1.8rem;
        }
    }
    @media all and (min-width: @breakpoint-medium){
        .content {
            font-size: 1.9rem;
        }
    }
}
