<nav class="navigation">
    {% if sections -%}
        <ol>
            {%- for section in sections -%}
                <li>
                    <a href="#{{ section.name }}">
                        {%- if section.title -%}
                        {{ section.title | capitalize }}
                        {%- else %}{{ section.name | capitalize }}
                        {%- endif -%}
                    </a>
                </li>
            {%- endfor -%}
        </ol>
    {%- endif %}
</nav>
