@import (reference) "../core-styles/mixins/clearfix";
.navigation {
    &:extend(.clearfix all);
    // margin-left: auto;
    font-size: 1.3rem;
    color: black;
    display: flex;
    justify-content: center;

    ol {
        list-style: none;
    }
    a {
        color: black;
        display: block;
        padding: 2rem 1rem;
        border-bottom: .3rem solid transparent;

        &:hover {
            border-bottom: .3rem solid darken(red, 10%);
            background-color: rgba(0,0,0,.1);
        }
    }
    li {
        display: inline-block;
        margin-left: .5rem;
    }
}
