@import (reference) "../core-styles/variables";
@import (reference) "../core-styles/mixins/clearfix";
.navigation {
    display: flex;
    justify-content: center;

    ol {
        list-style: none;
    }
    li {
        display: block;
    }
    a {
        position: relative;
        color: @black;
        display: block;
        padding: 1rem 2rem;
        text-align: center;

        &:hover {
            text-decoration: none;
        }
    }
    .js & {
        @media all and (max-width: @breakpoint-small-1px){
            display: none;
        }
    }
    .js .menu-open & {
        @media all and (max-width: @breakpoint-small-1px){
            display: block;
        }
    }
    @media all and (min-width: @breakpoint-small){
        li {
            display: inline-block;
        }
        a {
            margin: .5rem 1rem;
            padding: 0;

            &:after {
                content: '';
                display: block;
                position: absolute;
                height: .3rem;
                width: 100%;
                background: @yellow;
                margin-top: .25rem;
                display: none;
            }
            &:hover {
                font-weight: bold;
                &:after {
                    display: block;
                }
            }
        }
    }
    @media all and (min-width: @breakpoint-medium){
        justify-content: flex-end;
        margin-right: 2em;
         a {
             font-size: 1.1em;
         }
    }
}
