.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    margin-bottom: 5rem;
}

@media all and (min-width: @breakpoint-small){
    .hero {
        height: 300px;
    }
}
@media all and (min-width: @breakpoint-medium){
    .hero {
        height: 400px;
    }
}
@media all and (min-width: @breakpoint-large){
    .hero {
        height: 500px;
    }
}
